
body {
	box-sizing: border-box;
	display: inline-block;
	width: 98%;
}
main {
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	height: 100%;
}
div {
	box-sizing: border-box;
	display: inline-block;
	border-style: solid;
}
table {
	width: 100%;
}
th {
	height: 40px;
	width: 32%;
	font-size: 18px;
	border: 1px solid black;
}
th.selected {
		border: 3px solid black;
		font-size: 22px;
}
th:hover {
	background-color: grey;
}

.tab-button {
	width: 50%;
	height: 50px;
}

.tree-node {
	position: absolute;
  	background-color: #07a;
  	border-radius: 50%;
  	text-align: center;
  	font-size: 19px;
	transition: background-color .75s;
}

.highlighted{
  	background-color: #f60;
}

.tree-display {
	position: absolute;
	height: 100%;
	width: 100%;
}
#depth-tab, #breadth-tab, #new-tab {
	background-color: #DDDDDD;
	border-radius: 10px;
}

#canvas {
	position: absolute;
}

#code-window {
	background-color: Gold;
	width: 29%;
	height: 500px;
}

#node-window {
	position: relative;
	/*background-color: GoldenRod;*/
	width: 69%;
	height: 500px;
}


#node-layer {
	background-color: Grey;
	width: auto;
	height: 50px;
}

#depth-function {
	tab-size: 4;
	font-size: 22px;
	white-space:pre-wrap; 
	visibility: hidden;
	position: absolute;
}

#breadth-function {
	tab-size: 4;
	font-size: 19px;
	white-space:pre-wrap;
	visibility: hidden;
	position: absolute;
}

#text-window {
	height: 200px;
	width: 100%;
	font-size: 20px;
	padding: 20px 5px;
	position: relative;
}

#depth-text {
	visibility: hidden;
	position: absolute;
}

#breadth-text {
	visibility: hidden;
	position: absolute;
}
